.cus-nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .cus-nav button {
    border: none;
    border-radius: 15px;
    margin: 10px 10px 0 0;
    padding: 10px 20px;
    background-color: pink;
  }
  
  .cus-nav button:hover {
    background-color: rgb(58, 206, 206);
  }
  
  /* TABLE */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table,
  td,
  th {
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  td,th {
      width: 20%;
  }
  
  tr:hover {
      background-color: grey;
  }
  
  .cus-footer {
      display:flex;
      justify-content: flex-end;
      margin-bottom: 10px;
  }