html,
body {
  margin: 0px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Right Box */
.right-content {
  width: 70%;
  border: 1px solid black;
  border-radius: 15px;
}

h2 {
  margin: 0;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
